{{- with .Params.author }}
<div class="guest-author">
  <p class="guest-author-label">Guest author</p>
  <strong class="guest-author-name">{{ .name }}</strong>
  {{- with .bio }}
  <p class="guest-author-bio">{{ . }}</p>
  {{- end }}
  {{- if or .url .github .twitter }}
  <div class="guest-author-links">
    {{- with .url }}<a href="{{ . }}" target="_blank" rel="noopener noreferrer">Website</a>{{- end }}
    {{- with .github }}<a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer">GitHub</a>{{- end }}
    {{- with .twitter }}<a href="https://x.com/{{ . }}" target="_blank" rel="noopener noreferrer">X</a>{{- end }}
  </div>
  {{- end }}
</div>
{{- end }}
